@font-face {
    font-family: nes;
    src: url("fonts/NESFont.ttf");
}

body {
    font-family: nes;
    background-color: #0078f8;
    color: #fcfcfc;
}

.big-text {
    font-size: 60px;
}

.rotating {
    animation: rotate 1s infinite;
 }
 
 @keyframes rotate {
    from { text-shadow: 0px 0px 0px gray; }
    to { text-shadow: 2px 2px 5px gray; }
 }
