@font-face {
    font-family: pixelop;
    src: url("fonts/PixelOperatorMono8-Bold.ttf");
}

body {
    background-image: url("img/background_brick.png");
    background-size: 100px 100px;
    background-color: #0078f8;
    color: #fcfcfc;
}

p, h2, h3, h4, h5, h6, a {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: dodgerblue;
}

a:hover {
    color: magenta;
}

.big-text {
    font-size: 60px;
    font-family: pixelop;
}

.rotating {
    animation: rotate 1s infinite;
 }
 
 @keyframes rotate {
    from { text-shadow: 0px 0px 0px gray; }
    to { text-shadow: 2px 2px 5px gray; }
 }
